 {% extends "layout/base.html" %} {% block title %} Welcome {% endblock title %} {% block header %} {% include "com/navbar.html" %} {% endblock header %} {% block content %}
<!--banner-->
<div class="hero-banner set-bg" data-setbg="/static/images/hero.jpg">
    <div class="container">
        <div class="row justify-content-center align-items-center ml-b-30">
            <div class="col-lg-10 text-center mrb-30">
                <div class="banner-content">
                    <h2 class="title">ACHIEVE THE BEST HASHRATE</h2>
                    <p>AfricGold is a Gold-backed digital mining application designed to be a highly secure platform design for future miners. Start mining and achieve the highest level of Hashrate.</p>
                    <div class="banner-btn justify-content-center">
                        <a href="register" class=" cmn-btn py-3 px-5">Start Mining</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!--banner-->
<!--howitworksection-->
<section class="howitworksection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-header">
                    <h2 class="section-title">HOW <span class="p-color">AfricToken</span> WORKS?</h2>
                    <span class="title-border"></span>
                    <p>Learn about our work process. You need to follow the steps below to start your first mining.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center ml-b-30">
            <div class="col-lg-3 col-md-6 work-item mb-30">
                <div class="work-card wow fadeInLeft text-center">
                    <div class="work-card__icon">
                        <i class="fas fa-user base--color"></i>
                        <span class="step-number">01</span>
                    </div>
                    <div class="work-card__content">
                        <h4 class="base--color mb-3">Buy A Membership Pin</h4>
                    </div>
                </div>
                <!-- work-card end -->
            </div>
            <div class="col-lg-3 col-md-6 work-item mb-30">
                <div class="work-card wow fadeInUp text-center">
                    <div class="work-card__icon">
                        <i class="fas fa-credit-card base--color"></i>
                        <span class="step-number">02</span>
                    </div>
                    <div class="work-card__content">
                        <h4 class="base--color mb-3">Create Account</h4>
                    </div>
                </div>
                <!-- work-card end -->
            </div>
            <div class="col-lg-3 col-md-6 work-item mb-30">
                <div class="work-card wow fadeInDown text-center">
                    <div class="work-card__icon">
                        <i class="fas fa-hand-holding-usd base--color"></i>
                        <span class="step-number">03</span>
                    </div>
                    <div class="work-card__content">
                        <h4 class="base--color mb-3">Start Mining</h4>
                    </div>
                </div>
                <!-- work-card end -->
            </div>
            <div class="col-lg-3 col-md-6 work-item mb-30">
                <div class="work-card wow fadeInRight text-center">
                    <div class="work-card__icon">
                        <i class="fas fa-hand-holding-usd base--color"></i>
                        <span class="step-number">04</span>
                    </div>
                    <div class="work-card__content">
                        <h4 class="base--color mb-3">Get Profit</h4>
                    </div>
                </div>
                <!-- work-card end -->
            </div>
        </div>
    </div>
</section>
<!--howitworksection-->
<!--about-us-sec-->
<section class="about-us-sec section-gray">
    <div class="container">
        <div class="row">
            <div class="col section-2 section-description wow fadeIn">
            </div>
        </div>
        <div class="row">
            <div class="col-8 section-2-box wow fadeInLeft">
                <h3>About <span class="p-color">US</span></h3>
                <p class="medium-paragraph">
                    AFRICGOLD is a dual-purpose platform made up of subsidiaries that provide an opportunity to utilize AFGOLD Virtual mining technique, which is intended for evaluating mining revenue and as well as conversion of AFGOLD units to real word money and cash
                    out as at when due.
                </p>
                <div class="about-item-area ml-b-30">
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="las la-database"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Performance</h3>
                            <p>Ultimate performance at low cost</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-globe"></i> </div>
                        <div class="about-details">
                            <h3 class="title">World Wide Mining</h3>
                            <p>Servicing thousands of users from many countries</p>
                        </div>
                    </div>
                    <div class="about-item d-flex flex-wrap align-items-center mrb-30">
                        <div class="about-icon">
                            <i class="fas fa-coins"></i> </div>
                        <div class="about-details">
                            <h3 class="title">Multiple Cryptocurrencies</h3>
                            <p>We are offering mining for the next generation coin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 section-2-box wow fadeInUp text-center justify-content-center align-items-center">
                <a href="#"><img src="/static/images/about-us.png" alt="about-us"></a>
            </div>
        </div>
    </div>
</section>
<!--about-us-sec-->

<!--why choose us-->
<section class="why-chose-us set-bg2 bg-parallax bg-overlay-primary " data-setbg="/static/images/hero2.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-header">
                    <h2 class="section-title text-white">WHY <span class="p-color">CHOOSE </span> AFRICTOKEN?</h2>
                    <span class="title-border"></span>
                    <p>As an AFGOLD MINER, you get paid as you mine per minute without having to bring people before earning. We are combining all the key aspects of conducting an efficient cryptocurrency mining activity. From building a highly efficient
                        data center to providing a robust mining system for our users.</p>
                </div>
            </div>
        </div>

        <div class="row  justify-content-center ml-b-30">
            <div class="col-md-4 wcus-box wow fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <div class="wcus-box-icon">
                            <i class="fas fa-magic"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Daily Mining Output
                        </h3>
                        <p>Our system will automatically add your daily mining results to your account. Also, you are able to withdraw that amount.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wcus-box wow fadeInDown">
                <div class="row">
                    <div class="col-md-4">
                        <div class="wcus-box-icon">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Secure And Private
                        </h3>
                        <p>We support cryptocurrencies that promote privacy, so we try to keep user data collected to a minimum and will only require information..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wcus-box wow fadeInUp">
                <div class="row">
                    <div class="col-md-4">
                        <div class="wcus-box-icon">
                            <i class="las la-hammer"></i>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Robust Mining Technology</h3>
                        <p> we are providing some of the highest performance mining systems available..</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--why choose us-->

<!--faq-->
<section class="faq-section " id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-header">
                    <h2 class="title">AFGOLD FREQUENTLY ASKED QUESTIONS</h2>
                    <span class="title-border"></span>
                    <p>Here you can find our top frequently asked questions. Please let us know if you have any queries regarding our mining platform and FAQs.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ml-b-30">

            <div class="col-lg-12 mrb-30">
                <div class="faq-wrapper">
                    <ul class="faq-list">

                        <li>
                            <div data-toggle="collapse" class="collapsed question" href="#faq1">Do i have to pay before using Quicksaver to manage my bank?
                                <!--<i class="las la-arrow-down"></i><i class="bi bi-chevron-up icon-close"></i>--></div>
                            <div id="faq1" class="collapse" data-parent=".faq-list">
                                <p>
                                    Yes, after 14 days trial useage, Users of Quicksaver&trade; platform must select the categories of subscription platform that meet their needs to be able to operate their banking services with our banking solution.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-toggle="collapse" href="#faq2" class="collapsed question"> Does Quicksaver have Mobile App platform?
                                <!--<i class="las la-arrow-down"></i><i class="bi bi-chevron-up icon-close"></i>--></div>
                            <div id="faq2" class="collapse" data-parent=".faq-list">
                                <p>
                                    Quicksaver has two end users, where the customers and customer account managers operate with the mobile app end and the administrator manage the platform through the web platform end.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-toggle="collapse" href="#faq3" class="collapsed question">In what currency is your charges per the transactions?
                                <!--<i class="las la-arrow-down"></i><i class="bi bi-chevron-up icon-close"></i>--></div>
                            <div id="faq3" class="collapse" data-parent=".faq-list">
                                <p>
                                    All transactions charges on our platform are in the local currency of the country which it's been used.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div data-toggle="collapse" href="#faq4" class="collapsed question">After account activation on a particular plan, can I upgrade to a higher user plan?
                                <!--<i class="las la-arrow-down"></i><i class="bi bi-chevron-up icon-close"></i>--></div>
                            <div id="faq4" class="collapse" data-parent=".faq-list">
                                <p>
                                    Yes. You can upgrade, downgrade, or deactivate your account at any time you choose.
                                </p>
                            </div>
                        </li>


                        <li>
                            <div data-toggle="collapse" href="#faq6" class="collapsed question">Is quicksaver available in other laguages apart from English?
                                <!--<i class="las la-arrow-down"></i><i class="bi bi-chevron-up icon-close"></i>--></div>
                            <div id="faq6" class="collapse" data-parent=".faq-list">
                                <p>
                                    Currently, Quicksaver is available in english and french, and we have in view to make it available in Hebrew, Chineese, Russian and Portugueese in the future
                                </p>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!--faq-->
<!--our service-->
<section class="our-service-sec">
    <section class="service-section ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="section-header">
                        <h2 class="section-title">OUR <span class="p-color">SERVICES</span> </h2>
                        <span class="title-border"></span>
                        <p>We provide the best services to our miners, be connected with us, and get profited. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-6 mrb-30">
                    <div class="service-item text-center">
                        <div class="service-icon">
                            <i class="las la-headset"></i> </div>
                        <div class="service-content">
                            <h3 class="title">24/7 Support</h3>
                            <p>We are ready to answer all your questions and advise you 24/7. Feel free to reach us anytime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mrb-30">
                    <div class="service-item text-center">
                        <div class="service-icon">
                            <i class="fab fa-connectdevelop"></i> </div>
                        <div class="service-content">
                            <h3 class="title">Instant Connect</h3>
                            <p>Our team of experts always available and feels happy to help you. Please mail if you have issue</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mrb-30">
                    <div class="service-item text-center">
                        <div class="service-icon">
                            <i class="las la-money-bill-wave-alt"></i> </div>
                        <div class="service-content">
                            <h3 class="title">Easy Withdrawal</h3>
                            <p>Our withdrawal process takes only 24 hours. We are highly transparent about transactions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mrb-30">
                    <div class="service-item text-center">
                        <div class="service-icon">
                            <i class="las la-chart-area"></i> </div>
                        <div class="service-content">
                            <h3 class="title">Detailed Statistics</h3>
                            <p>We make detailed statistics of your transaction, also you will get all the mining logs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mrb-30">
                    <div class="service-item text-center">
                        <div class="service-icon">
                            <i class="fab fa-bitcoin"></i> </div>
                        <div class="service-content">
                            <h3 class="title">Cloud Mining</h3>
                            <p>We provide the best cloud mining service and give rewards to our miners on a daily basis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mrb-30">
                    <div class="service-item text-center">
                        <div class="service-icon">
                            <i class="fab fa-accusoft"></i> </div>
                        <div class="service-content">
                            <h3 class="title">Data Protection</h3>
                            <p>We constantly work on improving our system and the level of our security to minimize any risks.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
<!--our service-->
{% endblock content %}


<!--footer-->
{% block footer %} {% include "com/footer.html" %} {% endblock footer %}
<!--footer-->








{% block scripts %}
<script>
    'use strict';
    particlesJS('particles-js', {
        "particles": {
            "number": {
                "value": 80,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 5,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 3,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true,
        "config_demo": {
            "hide_card": false,
            "background_color": "#b61924",
            "background_image": "",
            "background_position": "50% 50%",
            "background_repeat": "no-repeat",
            "background_size": "cover"
        }
    })
</script>
{% endblock scripts %}